node_modules
.env
.vscode
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#Macbook files
.DS_Store

##Network files for upgraded contracts

#Not include local networks
.openzeppelin/unknown-*.json
#Polygon exception
!.openzeppelin/unknown-137.json      
#Mumbai exception
!.openzeppelin/unknown-80001.json
#Optimism exception
!.openzeppelin/unknown-10.json    
